name: Force Cloudflare Purge

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - 'client/src/**'
      - 'client/public/locales/**'

jobs:
  purge-cache:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Make script executable
        run: chmod +x ./scripts/purge-cache.sh

      - name: Run Purge Script
        env:
          CLOUDFLARE_ZONE_ID: ${{ secrets.CLOUDFLARE_ZONE_ID }}
          CLOUDFLARE_API_TOKEN: ${{ secrets.CLOUDFLARE_API_TOKEN }}
        run: ./scripts/purge-cache.sh
